<h3><%= "#{@dog.name}'s Bio" %></h3><br>

<%= "Breed: #{@dog.breed}" %><br>
<%= "Age: #{@dog.age}" %><br>
<%= "Employees:" %>
<% @dog.employees.each do |e| %>
    <%= link_to e.to_s, employee_path(e) %>
<% end %>

<%= button_to "DELETE DOG", @dog, method: :delete %>